.sort {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    cursor: pointer;
    text-transform: uppercase;
    li:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.sort_by {
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.select_date_release {
  width: 159px;
  height: 19px;
  background: transparent;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.888889px;
  text-transform: uppercase;
  color: #ffffff;
  option {
    background: #232323;
    border: 5px solid #232323;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}

.sort_identifier {
  width: 100%;
  background-color: #080707;
  border: 1px solid #080707;
  height: 2px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.sort_carriage {
  width: 35px;
  height: 4px;
  background: #f65261;
}
