.sort {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    cursor: pointer;
    text-transform: uppercase;
    li:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.sort_identifier {
  width: 100%;
  background-color: #080707;
  border: 1px solid #080707;
  height: 2px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.sort_carriage {
  width: 35px;
  height: 4px;
  background: #f65261;
}
