* {
  box-sizing: border-box;
}

.header {
  width: 1200px;
  position: relative;
  border: solid 2px #555555;
  background: url('../../img/header_background.png') 0px 0px no-repeat;
  background-size: cover;
  margin-bottom: 5px;
  z-index: 1;

  &:before {
    content: '';
    display: block;
    height: 101%;
    position: absolute;
    top: -1px;
    left: 0;
    right: -1px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
}

.content {
  //display: none;
  width: 100%;
  padding: 20px 60px;
  z-index: 3;
}

.first_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.logo {
  width: 152px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #f65261;

  span {
    font-weight: 900;
    color: #f65261;
  }
}

h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 49px;
  letter-spacing: 1px;
  margin-bottom: 38px;
}

.search_content {
  margin-left: 60px;
}
