@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800;900&display=swap");
*{
  color:  #FFFFFF
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  background-color: #555555;
}

img {
  border-style: none;
}

h1, h2, h3, h4, h5, p{
  margin: 0;
}

