.colon_wrapper {
  display: flex;
}

.first_colon {
  margin-right: 30px;
  input{
    width: 525px;
  }
}

.second_colon input {
  width: 301px;
}

.group_button {
  display: flex;
  justify-content: right;
}

.input_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.888889px;
  height: 57px;
  text-transform: uppercase;
  color: #f65261;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
