.footer {
  background: #424242;
  padding: 23px;
  text-align: center;

  p {
    font-weight: 500;
    font-size: 20px;
    color: #f65261;

    span {
      color: #f65261;
      font-weight: 900;
    }
  }
}
