.app_wrapper {
  position: relative;
  display: flex;
}

.page_wrapper {
  width: 1200px;
  min-height: 100vh;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.wrapper_component {
  padding: 20px 60px 70px;
  background-color: #232323;
}
